<%- include('../partials/header.ejs') %>

<h1 class="container text-center"><%- include('../../public/img/ornament.svg') %><%= Entry.name %><span style="transform: scale(-1,-1)"><%- include('../../public/img/ornament_flipped.svg') %></span></h1>
<ul>
    <li>Description: <%= Entry.description %></li>
    <li>Occupation: <%= Entry.occupation %></li>
    <li>Characteristics: <%= Entry.characteristics %></li>
    <li>Species: <%= Entry.species %></li>
    <li>Affiliation: <%= Entry.affiliation %></li>
    <li>Location: <%= Entry.location %></li>
    <li>Related Location(s): <a href="\inspect\"+<%= Entry.relatedLocation %>><%= Entry.relatedLocation %></a></li>
</ul>


</body>
<%- include('../partials/footer.ejs') %>