<%- include('partials/header.ejs') %>

<h1><%= entity.name %></h1>
<ul>
    <li>Description: <%= entity.description %></li>
    <li>Occupation: <%= entity.occupation %></li>
    <li>Characteristics: <%= entity.characteristics %></li>
    <li>Species: <%= entity.species %></li>
    <li>Affiliation: <%= entity.affiliation %></li>
    <li>Location: <%= entity.location %></li>
    <li>Related Location(s): <a href="\inspect\"+<%= entity.relatedLocation %>><%= entity.relatedLocation %></a></li>
</ul>


</body>
<%- include('partials/footer.ejs') %>