<%- include('../partials/header.ejs') %>
<h1 class="container text-center"><%- include('../../public/img/ornament.svg') %><%= Entry.Name %><span style="transform: scale(-1,-1)"><%- include('../../public/img/ornament_flipped.svg') %></span></h1>

<h2><%= Entry.Description %></h2>

<h2><%= Entry.Region %></h2>

<h2><%= Entry.Ruler %></h2>
<%- include('../partials/footer.ejs') %>