<%- include('../partials/header.ejs') %>

<h1 class="container text-center"><%- include('../../public/img/ornament.svg') %><%= Entry.Name %><span style="transform: scale(-1,-1)"><%- include('../../public/img/ornament_flipped.svg') %></span></h1>
<ul>
    <li>Description: <%= Entry.Description %></li>
    <li>Occupation: <%= Entry.Occupation %></li>
    <li>Characteristics: <%= Entry.Characteristics %></li>
    <li>Species: <%= Entry.Species %></li>
    <li>Affiliation: <%= Entry.Affiliation %></li>
    <li>Location: <%= Entry.Location %></li>
    
</ul>


</body>
<%- include('../partials/footer.ejs') %>