<%- include('../partials/header.ejs') %>

<h1 class="container text-center"><%- include('../../public/img/ornament.svg') %><%= Entity.name %><span style="transform: scale(-1,-1)"><%- include('../../public/img/ornament_flipped.svg') %></span></h1>
<ul>
    <li>Description: <%= Entity.description %></li>
    <li>Occupation: <%= Entity.occupation %></li>
    <li>Characteristics: <%= Entity.characteristics %></li>
    <li>Species: <%= Entity.species %></li>
    <li>Affiliation: <%= Entity.affiliation %></li>
    <li>Location: <%= Entity.location %></li>
    <li>Related Location(s): <a href="\inspect\"+<%= Entity.relatedLocation %>><%= Entity.relatedLocation %></a></li>
</ul>


</body>
<%- include('../partials/footer.ejs') %>