<%- include('../partials/header.ejs') %>

<h1 class="container text-center"><%- include('../../public/img/ornament.svg') %><%= Event.Name %><span style="transform: scale(-1,-1)"><%- include('../../public/img/ornament_flipped.svg') %></span></h1>

<h2><%= Event.Description %></h2>

<h2><%= Event.RelatedLocation %></h2>


<%- include('../partials/footer.ejs') %>