<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<h1>Book Notes</h1>

<button class="showmore" onclick="">show more?</button>
<h2 style="display: none;">This is a website for registering the notes I've taken to keep track of characters and events in books I'm reading.</h2>

<!-- 
    SHOW/MORE
    its probably gonna look real shit but I wanna learn how to do this so letsago

    show button outside main div. How to find it after? Parent of the parent?
        This is the main problem. 

    hide button inside div right before text. Click it to hide div



 -->
<div>
    <p>Notes:</p>
    <p onclick="showMore(this)">Show more</p>
    <p style="display: none;">
        TEST TEST TEST
    </p>
</div>
 


<% for( let index = 0; index < books.length; index++ ) { %>
    <div>
        <figure>
            <a href=<%= books[i].amazonURL %>>
                <img src=<%= books[i].coverURL %> alt="Book cover" loading="lazy">
            </a>
        </figure>
        <h2>
            <a href=<%= books[i].amazonURL %>><%= books[i].bookTitle %></a>
        </h2>
        <p>Notes:</p>
        <p onclick="showMore(this)">Show more</p>
        <div style="display: none;">
            <p><%= books[i].bookNotes %></p>
        </div>
            
    </div>
<% } %>
    
</body>
<script>
function showMore(item) {
    var block = item.nextElementSibling;
    if (block.style.display == "none"){
        item.innerHTML = "Show Less";
        block.style.display = "block";
    }
    else{
        item.innerHTML = "Show More";
        block.style.display = "none";
    }
    // if(document.getElementById(divId).style.display == 'none'){
    //     document.getElementById(divId).style.display='block';
    // } else {
    //     document.getElementById(divId).style.display = 'none';
    // }
}

</script>
</html>