<%- include('partials/header.ejs') %>

<h1><%= entity.name %></h1>
<h2><%= entity.description %></h2>
<h2><%= entity.occupation %></h2>
<h2><%= entity.characteristics %></h2>
<h2><%= entity.species %></h2>
<h2><%= entity.affiliation %></h2>
<h2><%= entity.location %></h2>

<%- include('partials/footer.ejs') %>